<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Мои заметки{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Мои заметки</h1>
    </header>
    <nav>
        <a href="{{ url_for('read_notes_web') }}">Главная</a>
        <a href="{{ url_for('create_note_form') }}">Создать заметку</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024</p>
    </footer>
</body>
</html>
